body {
  background-color: #FFFDDE;
}

h1 {
  color: #FFCBCB;
}
h3 {
  color: #FFCBCB;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #D9D7F1;
  border-width: 5px;
  width: 5%;
}
